{% extends 'base.html' %} {% block content %}

<h1>PC Detail</h1>

<div class="card">
  <div class="card-content">
    <div>
      {% load static %}  <img width="100px" height="100px" src={% static pc.image|cut:'main_app/static/' %} />
    </div>
    <div>
      <span class="card-title">{{ pc.name }}</span>
      
      <p>price: {{ pc.price }}BD</p>
      <p>Description: {{ pc.description }}</p>
      <p>GPU: {{ pc.GPU }}</p>
      <p>CPU: {{ pc.CPU }}</p>
      <p>RAM: {{ pc.RAM }}</p>
      <p>storage: {{ pc.storage }}</p>
      <p>motherboard: {{ pc.motherboard }}</p>

      <a href="#" class="buy-now-button">Buy Now</a>
      <a class="buy-now-button" href="{% url 'add_to_cart' pc.id %}">Add to Cart</a>
     
  
      <div class="card-action">
        <a href="{% url 'pcs_update' pc.id %}">Edit</a>
        <a href="{% url 'pcs_delete' pc.id %}">Delete</a>
      </div>
    </div>
  
    </div>
    <div>

      
{% endblock %}